<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google maps select</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "add" %>
    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_tag "googlemap"%>
    <%= javascript_include_tag "jquery.min"%>
    <%= javascript_include_tag "bootstrap.min"%>
    <%= javascript_include_tag (@property.new_record? ? "add" : "edit") %>
    <%= javascript_include_tag "base"%>
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <h4 class="header">Nhập Bất động sản mới</h4>
        <div class="content">
          <%= link_to "Back", admin_properties_path, class: :btn %>
          <%= form_for [:admin, @property], html: {class: "form-horizontal"} do |f| %>
            <fieldset>
              <legend>Thông tin cơ bản</legend>
              
              <%= f.label :address_no %>
              <%= f.text_field :address_no, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("address_no").first %></span>
              
              <%= f.label :area %>
              <%= f.number_field :area, class: "input-xlarge", required: true, step: :any %>
              <span class="validation_error_message"><%= f.full_error_messages_for("area").first %></span>
              
              <%= f.label :length %>
              <%= f.number_field :length, class: "input-xlarge", required: true, step: :any %>
              <span class="validation_error_message"><%= f.full_error_messages_for("length").first %></span>
              
              <%= f.label :width %>
              <%= f.number_field :width, class: "input-xlarge", required: true, step: :any %>
              <span class="validation_error_message"><%= f.full_error_messages_for("width").first %></span>
              
              <%= f.label :floor_cnt %>
              <%= f.number_field :floor_cnt, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("floor_cnt").first %></span>
              
              <%= f.label :l_room_cnt %>
              <%= f.number_field :l_room_cnt, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("l_room_cnt").first %></span>
              
              <%= f.label :t_room_cnt %>
              <%= f.number_field :t_room_cnt, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("t_room_cnt").first %></span>
              
              <%= f.label :year_built %>
              <%= f.text_field :year_built, class: "input-xlarge datepicker", readonly: true, required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("year_built").first %></span>
              
              <%= f.label :tel %>
              <%= f.text_field :tel, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("tel").first %></span>
              
              <%= f.label :sale_type %>
              <%= f.text_field :sale_type, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("sale_type").first %></span>
              
              <%= f.label :build_type %>
              <%= f.text_field :build_type, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("build_type").first %></span>
              
              <%= f.label :ownage_type %>
              <%= f.text_field :ownage_type, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("ownage_type").first %></span>
              
              <%= f.label :owner %>
              <%= f.text_field :owner, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("owner").first %></span>
              
              <%= f.label :street %>
              <%= f.text_field :street, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("street").first %></span>
              
              <%= f.label :m_city_id %>
              <%= f.collection_select :m_city_id, M::City.all, :id, :name, prompt: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("m_city_id").first %></span>
              
              <%= f.label :m_prefecture_id %>
              <% prefectures = @property.m_city_id.nil? ? M::Prefecture.where(id: 0) : M::Prefecture.where(m_city_id: @property.m_city_id) %>
              <%= f.collection_select :m_prefecture_id, prefectures.all, :id, :name, prompt: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("m_prefecture_id").first %></span>
              
              <%= f.label :m_district_id %>
              <% districts = @property.m_prefecture_id.nil? ? M::District.where(id: 0) : M::District.where(m_prefecture_id: @property.m_prefecture_id) %>
              <%= f.collection_select :m_district_id, districts.all, :id, :name, prompt: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("m_district_id").first %></span>
              
              <%= f.label :email %>
              <%= f.email_field :email, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("email").first %></span>
              
              <%= f.label :photo1 %>
              <%= f.file_field :photo1, class: "input-xlarge", required: true %>
              <span class="validation_error_message"><%= f.full_error_messages_for("photo1").first %></span>
            </fieldset>

            <fieldset>
              <legend>Tọa độ
                <% if @property.new_record? %>
                <a class="btn btn-danger pull-right remove-area">Xóa hết</a>
                <% end %>
              </legend>
              <label class="checkbox" title="Tự động chọn vùng hình vuông với bán kính chọn trước">
                <input type="checkbox" name="auto-select">Chọn vùng tự động 
                <span class="loader pull-right" style="display: none">Đang tải...</span>
              </label>
              <div class="point-list" data-hint='<span class="help-block">Click lên bản đồ để khoanh vùng</span>'>
                <span class="help-block">Click lên bản đồ để khoanh vùng</span>
                <ol>
                  <% @property.area_points.each_with_index do |point, index|%>
                  <li>Điểm <%= index + 1 %>
                    <input type="hidden" name="lat_point[]" value="<%= point.latitude %>">
                    <input type="hidden" name="lng_point[]" value="<%= point.longitude %>">
                  </li>
                  <% end %>
                </ol>
              </div>
            </fieldset>

            <hr>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
          <% end %>
        </div>
      </div>

      <div id="map-canvas"></div>
    </div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#property_m_city_id").change(function () {
        id = $(this).val();
        if (id==""){
          $("#property_m_prefecture_id").html("<option value>Chọn giá trị</option>");
          return;
        }
        $("#property_m_prefecture_id").attr("disabled","disabled");
        $.ajax({
            type: "GET",
            url: "<%= user_m_prefectures_path %>",
            data: "id=" + id,
            success: function (data) {
                $("#property_m_prefecture_id").html("<option value>Chọn giá trị</option>");
                for (var i = 0; i < data.length; i++) {
                    option = "<option value='" + data[i].id + "'>" + data[i].name  + "</option>";
                    $("#property_m_prefecture_id").append(option);
                }
                $("#property_m_prefecture_id").removeAttr("disabled");
            }
        });
    })
    
    $("#property_m_prefecture_id").change(function () {
        id = $(this).val();
        if (id==""){
          $("#property_m_district_id").html("<option value>Chọn giá trị</option>");
          return;
        }
        $("#property_m_district_id").attr("disabled","disabled");
        $.ajax({
            type: "GET",
            url: "<%= user_m_districts_path %>",
            data: "id=" + id,
            success: function (data) {
                $("#property_m_district_id").html("<option value>Chọn giá trị</option>");
                for (var i = 0; i < data.length; i++) {
                    option = "<option value='" + data[i].id + "'>" + data[i].name  + "</option>";
                    $("#property_m_district_id").append(option);
                }
                $("#property_m_district_id").removeAttr("disabled");
            }
        });
    })
  })
</script>
  </body>
</html>