<section id="properties-show">
  <h1 class="page-title"><%= t ".title", name: @property.name %></h1>
  <div class="actions">
    <%= link_to t(".edit"), edit_admin_property_path(@property), class: :btn %>
    <%= link_to t(".back"), admin_properties_path, class: :btn %>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t ".requirement" %></th>
        <th><%= t ".field" %></th>
        <th><%= t ".value" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= requirement_label @property, :area %></td>
        <td><%= Property.h :area %></td>
        <td><%= @property.area %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :length %></td>
        <td><%= Property.h :length %></td>
        <td><%= @property.length %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :width %></td>
        <td><%= Property.h :width %></td>
        <td><%= @property.width %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :floor_cnt %></td>
        <td><%= Property.h :floor_cnt %></td>
        <td><%= @property.floor_cnt %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :l_room_cnt %></td>
        <td><%= Property.h :l_room_cnt %></td>
        <td><%= @property.l_room_cnt %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :t_room_cnt %></td>
        <td><%= Property.h :t_room_cnt %></td>
        <td><%= @property.t_room_cnt %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :year_built %></td>
        <td><%= Property.h :year_built %></td>
        <td><%= @property.year_built %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :tel %></td>
        <td><%= Property.h :tel %></td>
        <td><%= @property.tel %></td>
      </tr>
      <tr>
        <td><%= requirement_label @property, :email %></td>
        <td><%= Property.h :email %></td>
        <td><%= @property.email %></td>
      </tr>
    </tbody>
  </table>
</section>
