<% content_for :stylesheets do -%>
<%= stylesheet_link_tag :admin, media: "all" %>
<% end -%>
<% content_for :content do -%>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <%= image_tag "/assets/banner.jpg", class: :banner_image %>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "ĐCĐ", root_path, class: :brand %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Trang chủ", root_path, id: :home_page_tab %><li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bán <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Nhà đất</a></li>
                  <li><a href="#">Căn hộ</a></li>
                  <li><a href="#">Văn phòng</a></li>
                  <li><a href="#">Mặt bằng thương mại</a></li>
                  <li><a href="#">Khác</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cho thuê <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Nhà đất</a></li>
                  <li><a href="#">Căn hộ</a></li>
                  <li><a href="#">Văn phòng</a></li>
                  <li><a href="#">Mặt bằng thương mại</a></li>
                  <li><a href="#">Khác</a></li>
                </ul>
              </li>
              <li class="dropdown" id="tttt_tab">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thông tin thị trường <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/articles/1">Bất động sản</a></li>
                  <li><a href="/user/articles/2">Vàng/Ngoại tệ</a></li>
                  <li><a href="#">Chứng khoán</a></li>
                  <li><a href="#">Thông tin kinh tế - xã hội</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tư vấn <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Diễn đàn bất động sản</a></li>
                  <li><a href="#">Đặt câu hỏi</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tìm nhà cung cấp dịch vụ <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">.....</a></li>
                  <li><a href="#">.....</a></li>
                </ul>
              </li>
              <li><%= link_to "Tìm kiếm", user_root_path, id: :search_tab %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="span8">
        <%= yield %>
      </div>
      <div class="span2">
<% 40.times do %>
        <%= link_to image_tag("/assets/banner.jpeg", style: "margin: 5px; border: 1px solid black;"), "#" %><br/>
<% end %>
      </div>
    </div>
<% end -%>
<% content_for :javascripts do -%>
<%= javascript_include_tag(:admin) %>
<% end -%>

<%= render partial: "layouts/base_layout" %>